<div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    {% for menu_item in menu %}
      {% if menu_item.submenu %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ menu_item.title }}
          </a>
          <ul class="dropdown-menu">
            {% for submenu_item in menu_item.submenu %}
              <li>
                <a class="dropdown-item" href="#">{{ submenu_item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">{{ menu_item.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
