<div class="container">
  <h2>Популярные товары</h2>
  <div class="row">
    {% for product in products %}
      <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
        <div class="card">
          {% if product.thumbnail %}
            <img src="{{ url_for('static', filename=product.thumbnail) }}" class="card-img-top" alt="{{ product.name }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ product.name}}</h5>
            <p class="card-text">{{ product.description|truncate(100) }}</p>
            <a href="#" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
