
<a size ='10' title="Telegram" href="https://telegram.me/beaver_knithen" target="_blank"><img src="images/telegram_icon.jpg” alt="Написать в Telegram" /></a>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

<header>
<b>



</b>

<!--_______________________________________________________________________________________-->
<style>
h1 {
  padding-left: 1px;
}


</style>

<!--_______________________________________________________________________________________-->
<h1><i>{{beaver_main_1}}</i></h1>
<h2><i>{{beaver_main_2}}</i></h2>
<!--_______________________________________________________________________________________-->


<!--_______________________________________________________________________________________-->

<!--_______________________________________________________________________________________-->


<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>
      <div class="col-3">
        <img class = "w-100" src = https://i.pinimg.com/736x/7c/af/0a/7caf0a2961d2a76d98879bf695a644d3.jpg alt = "fon">
      </div>
    </h1>
    </div>
    <!--_______________________________________________________________________________________-->
    <div class="col-sm">
    </div>
    <div class="col">
        <button type="button" class="btn btn-outline-success">Цвет</button>
        <button type="button" class="btn btn-outline-success">Шерсть</button>
        <button type="button" class="btn btn-outline-success">Пошив</button>
        <button type="button" class="btn btn-outline-success">Узоры</button>
        <button type="button" class="btn btn-outline-success">Пол</button>
        <button type="button" class="btn btn-outline-success">Размер</button>
        <button type="button" class="btn btn-outline-success">Страна</button>
        <button type="button" class="btn btn-outline-success">Забрать из наличия</button>


        <div class="row">
          <div class="col-5"><form class="d-flex" role="search", col-8>
            <input style="height:70px" class="form-control me-" type="search"  placeholder ="Найти модель" aria-label="Поиск">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
          </form></div>
        </div>
      </div>
    </div>
    <!--_______________________________________________________________________________________-->
    <div class="col-sm">
      <font size="15">
        <a class="dropdown-item" href="#"><big>Акция</big></a>
        <a class="dropdown-item" href="#"><big>Чаще всего берут</big></a>
        <a class="dropdown-item" href="#"><big>Распродажа</big></a>
        </font>
    </div>
  </div>
</div>
<!--_______________________________________________________________________________________-->
